apiVersion: deploy.cloud.google.com/v1
kind: Target
metadata:
  name: dev
  annotations: {}
  labels: {}
description: dev
gke:
  cluster: projects/cicd-pipeline-479119/locations/us-central1-a/clusters/cluster-1

